.about-container {
    text-align: center;
    padding: 20px;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    background-color: #b9daf5;
}

.team-member-image {
    width: 100%;
    height: 200px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

}

.team-member h2 {
    margin: 10px 0 5px 0;
}

.team-member h3 {
    margin: 5px 0;
    color: #777;
}
