.reservation-container {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 20px;
    padding-top: 60px;
    color: white;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }
  .messageSillas {
    color: rgb(11, 43, 92);
    font-size: 25px;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 5;
  }
  
  .seats-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    overflow: auto;
  }
  .espacio {
    height: 70px;
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .espaciov1{
    width: 40px;
    grid-column-start: 14;
    grid-row-start: 3;
    grid-row-end: -1;
  }
  .espaciov2 {
    width: 40px;
    grid-column-start: 5;
    grid-row-start: 3;
    grid-row-end: -1;
  }
  
  
  .sala {
    box-sizing: border-box;
    perspective: 1000px;
    background-color: #D3DEE8; 
    border-radius: 20px; 
    padding: 40px; 
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(2, 1fr)repeat(8, 3vw);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-items: center;
    width: 100%;
  }
  .salaContainer {
    
    width: 80%;
  }
  
  .seat {
    background-image: url("../../assets/Silla.png");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: saturate(0.2) brightness(1) contrast(0) grayscale(1);
    transition: all 0.3s ease;
  }

  .seat.selected {
    filter:  brightness(1);
  }
  .seat.occupied {
    filter: brightness(0);
    cursor: not-allowed;
  }
  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.15);
  }
  .seat:not(.occupied):active {
    cursor: pointer;
    transform: scale(1.05); 
  }
  
  .text {
    margin: 10px 0;
  }
  .model{
    margin-left: 10px;
    width: 60px;
    height: 60px;
  }
  .info-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: #05101a;
  }
  .info-container h2 {
    margin-bottom: 10px;
  }
  .info-container p {
    color: #b3cbe0;
    margin: 0;
    min-width: 220px;
    text-align: center;
  }
  .info-models {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #05101a;
  }
  .info-models h2 {
    margin-bottom: 10px;
  }
  .info-models p {
    color: #b3cbe0;
    margin: 0;
    min-width: fit-content;
    text-align: center;
  }
  
  .add-to-order-btn {
    background-color: rgb(27, 64, 99);
    border: none;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .add-to-order-btn:hover {
    background-color: #063c83;
    color: #fff;
    transform: scale(1.05);
  }
  .add-to-order-btn:active {
    transform: scale(0.95);
  }
  .seatmodel{
    display: flex;
    min-width: fit-content;
    align-items: center;
    height: 40px;
  }
  .seatmodel p{
    width: 50%;
  }

  
  .screen {
    background-color: #fff;
    height: 70px;
    width: 90%;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
    grid-column-start: 1;
    grid-column-end: -1;
  }
    
  @media screen and (max-width: 1000px) {
    .reservation-container {
      padding-top: 60px;
    }
    .salaContainer {
      width: 100%;
    }
    .sala {
      grid-template-rows: repeat(2, 1fr)repeat(8, 30px);
      padding: 25px;
    }
    
  }
  @media screen and (max-width: 840px) {
    .sala {
      grid-template-rows: repeat(2, 1fr)repeat(8, 30px);
    }
  }
  @media screen and (max-width: 720px) {
    .salaContainer {
      width: 100%;
    }
    .sala {
      grid-template-rows: repeat(2, 1fr)repeat(8, 30px);
    }
  }
  @media screen and (max-width: 600px) {
    .sala {
      width: 620px;
      
      grid-template-rows: repeat(2, 1fr)repeat(8, 30px);
    }
    .seats-container {
      height: 450px;  
      display: block;
    }
  }
  @media screen and (max-width: 530px) {
    .seats-container {
      width: 100vw;
    }
    .espaciov1 {
      width: 1vw;
    }
    .espaciov2 {
      width: 1vw;
    }
  }