
/* Estilos para la barra de navegación */
/* Estilos para la barra de navegación */
.BarraNav {
    background-color: #000915; /* Cambia el color de fondo a negro (#000915) */
    text-align: center;
    padding-left: 10px; 
    padding-right: 10px;
    /*margin-top: 0; */
}

/* Estilos para la lista de navegación dentro de la barra */
.BarraNav nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100px;
    flex-wrap: nowrap;
    
}

/* Estilos para los elementos de la lista de navegación */
.BarraNav nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Elimina cualquier margen interno */
}

.BarraNav nav ul li {
    display: inline-block;
    margin: 0 20px; /* Aumenta el espacio entre los elementos de la barra de navegación */
    flex-grow: 1; /* Hace que cada elemento ocupe todo el ancho disponible */
    margin: 0 45px; /* Ajusta el margen horizontal */
}

.BarraNav nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}


/* Dirección antes: .BarraNav nav ul li a */



.BarraNav nav div a {
    display: block; 
    font-family: 'Josefin Sans','Arial', sans-serif; 
    font-size: 20px;    
    color: #ffffff; 
    text-decoration: none; 
    padding: 10px 20px; 
    transition: transform 0.3s ease; 
    white-space: nowrap;    
}
.logoContainer {
    display: flex;
    justify-items: center;
    width: auto;
}



.linksContainer {
    display: flex;
    justify-content: center;
  }

/* Estilos para el logo en la barra de navegación */
.BarraNav img {
    height: 50px; /* Ajusta la altura del logo */
    margin-right: 20px; /* Agrega espacio a la derecha del logo */
}

/* Efecto cuando el cursor está sobre el enlace */
.BarraNav nav div a:hover {
    transform: translateY(-3px); /* Mueve ligeramente hacia arriba */

}

/* Efecto cuando el enlace está activo (clickeado) */
.BarraNav nav div a:active {
    transform: translateY(3px); /* Mueve ligeramente hacia abajo */
}

.toggleButton {
    display: none;
}

.menuDesplegable {
    display: none;
}

.menuDesplegable {
    display: flexbox;
}
/* que bueno que esta quedando el cp*/

@media screen and (max-width: 850px) {
    .linksContainer {
        display: none;
    }
    .toggleButton {
        display: block;
        cursor: pointer;

    }
}