.aCarruselMovie{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CarruselContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #021438;
    height: 40vw;
    flex-shrink: 1;
}

.CarruselMovie{
    height: 100%;
    width: 100%;
}


.CarruselMovieImg {
    width: 90%;
    height: 80%;
    transition: all 0.3s ease;
    border-radius: 10px;
    object-fit: cover;
}

.CarruselMovieImg:hover {
    height: 90%;
    width: 100%;
}

@media screen and (max-width: 1080px) {
    .CarruselContainer div:first-child{
        display: none;
    }
    .CarruselContainer div:nth-child(5){
        display: none;
    }
}

@media screen and (max-width: 610px) {
    .CarruselContainer {
        display: none;
    }
}

