.loadingMiOrden {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: #001f47;
}



.loadingContainer {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.order-container {
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
    background-color: #f7f7f7; /* Fondo del contenedor principal */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}
.order-container h2 {
    text-align: center;
    color: #0f2f75;
}
.order-item-info{
    width: 100%;
}
.delete-button{
    display: flex;
    justify-items: flex-end;
    align-content: flex-start;
    height: 100%;
    transition: all 0.3s ease;
}

.delete-button:hover{
    transform: scale(1.1);
}

.delete-button:active{
    transform: scale(0.95);
}

.delete-img{
    aspect-ratio: 1/1;
    width: 40px;
    height: 100%;
    object-fit: cover;
}


.order-info-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.order-item-info h3 {
    text-align: left;
    color: #3d6292;
    margin-bottom: 0px;
    margin-top: 0px;
}
.order-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #fff; /* Fondo de cada producto */
    border: 1px solid #ddd; /* Borde del cuadro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
    padding: 20px; /* Espacio interno */
    transition: all 0.3s ease;
}

.order-item-image {
    aspect-ratio: 1/1;
    height: 100%;
    width: 300px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px; /* Bordes redondeados para la imagen */
    transition: all 0.3s ease;
}
.order-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-item-info h2 {
    margin: 0 0 10px 0; /* Espaciado entre el título y el precio */
    font-size: 1.2em; /* Tamaño de fuente del título */
    color: #333; /* Color del texto */
}

.order-item-info p {
    margin: 5px 0;
    font-size: 1em; /* Tamaño de fuente del texto */
    color: #666; /* Color del texto */
}

.order-total {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #fff; /* Fondo del total */
    border: 1px solid #ddd; /* Borde del cuadro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

@media screen and (max-width: 1000px) {
    .order-item-image {
        height: 100%;
        width: 200px;
    }
    .delete-img{
        width: 30px;
    }
}

@media screen and (max-width: 650px) {
    .order-item{
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .delete-button{
        margin-bottom: 20px;
    }
    .delete-img{
        width: 20px;
    }

}

@media screen and (max-width: 560px) {
    .order-info-container{
        flex-direction: column;
        align-items: center;
    }
    .order-item-info{
        width: 100%;
        text-align: center;
    }
    .order-item-info h3{
        text-align: center;
    }
    .order-item-image{
        margin-right: 0px;
        aspect-ratio: 2/1;    
        width: 100%;
    }

}

@media screen and (max-width: 480px) {
    .order-item-image{
        aspect-ratio: 1.5/1;
        width: 100%;
    }

}