.Calendario{
    width: 100%;
    height: 420px;
    text-align: center;
    background-color: #B5C7D8;
    border-radius: 10px;
    transition: all 0.3s ease;
    overflow: hidden;
    margin-bottom: 20px;
}

.BotonesSuperiores{
    display: flex;
    justify-content: space-between;
}

.BotonMesSumar{
    width: 20%;
    background-color: rgba(0 , 0, 0, 0);
    border: none;
    font-family: Nunito, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    transition: all 0.3s ease;
}
.BotonMesRestar{
    width: 20%;
    background-color: rgba(0 , 0, 0, 0);
    border: none;
    font-family: Nunito, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    transition: all 0.3s ease;
}

.NumerosCalendario{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding: 0;
    margin: 0;
}

.NumerosCalendario li{
    text-align: center;
    margin-bottom: 10px;
}

.diaNoDisponible{
    cursor: not-allowed;
    color: #838383; 
}


.DiasSemana{
    color: rgb(0, 26, 91);
    font-family: Nunito, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-bottom : 10px;
    margin-top: 0;
}

.ButtonContainer{
    width: 100%;
    height: 40px;
    background-color: rgba(0 , 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonContainer button{
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0, 0, 0);
    border: none;
    font-family: Nunito, sans-serif;
    font-weight: bold;
    font-size: large;
    padding: 0;
    transition: all 0.3s ease;
}

.SeleccionActual{
    background-color: rgb(0, 26, 91);
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 910px) {
    .Calendario h1{
        font-size: 24px;
    }
}

@media screen and (max-width: 680px) {
    .Calendario h1{
        font-size: 20px;
    }
}