


.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #ffffff;
}

.icon-cart:hover {
	cursor: pointer;
}


/* Header */
header {
	display: flex;
	justify-content: space-between;
	padding: 30px 0 40px 0;
}

.container-icon {
	position: relative;
}

.count-products {
	position: absolute;
	top: 55%;
	right: 0;

	background-color: #000;
	color: #fff;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
	position: fixed;
	top: 100px;
	right: 80px;

	background-color: #c4e2ff;
	width: fit-content;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 20px;
	
	gap: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	
	gap: 10px;
}

.info-cart-product span{
	align-self: center;
}

.titulo-producto-carrito {
	font-size: 20px;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}

.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	
	padding: 0px 20px;
	gap: 20px;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}


/* Main */
.container-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: #c4e2ff;	;
	gap: 20px;
	padding: 50px;
}
.item {
	border-radius: 10px;
	background-color: #f1f8ff;
	box-sizing: border-box;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.item img {
	aspect-ratio: 1 / 1;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	transition: all 0.5s;
}

.item figure {
	overflow: hidden;
	margin: 10px;
}

.item:hover img {
	transform: scale(1.1);
}

.info-product {
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.info-product button {
	border: none;
	background: none;
	background-color: #000;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}

.btn-clear-all {
	border: none;
	background-color: #000a32;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}

.btn-clear-all:hover{
  background-color:  #08174f;
  transform: scale(1.03);
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
	.container-items {
		grid-template-columns: repeat(2, 1fr);
		padding: 10px;
	}
}

@media screen and (max-width: 510px) {
	.container-items {
		grid-template-columns: repeat(1, 1fr);
	}
	.item {
		width: 100%;
	}
}