/* Estilos para la barra de navegación */
/* Estilos para la barra de navegación */
.BarraNav {
    background-color: #000915; /* Cambia el color de fondo a negro (#000915) */
    text-align: center;
    padding: 10px 20px; /* Agrega un poco de espacio interno a la barra de navegación */
    margin-top: 0; /* Elimina cualquier margen superior */
}

/* Estilos para la lista de navegación dentro de la barra */
.BarraNav nav {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;
}

/* Estilos para los elementos de la lista de navegación */
.BarraNav nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Elimina cualquier margen interno */
}

.BarraNav nav ul li {
    display: inline-block;
    margin: 0 20px; /* Aumenta el espacio entre los elementos de la barra de navegación */
    flex-grow: 1; /* Hace que cada elemento ocupe todo el ancho disponible */
    margin: 0 45px; /* Ajusta el margen horizontal */
}

.BarraNav nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.BarraNav nav ul li a {
    display: block; /* Hace que los enlaces se muestren como bloques */
    font-family: 'Arial', sans-serif; /* Utiliza la fuente Arial o una fuente sans-serif genérica */
    color: #ffffff; /* Cambia el color del texto a blanco */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    padding: 10px 20px; /* Agrega espaciado interno */
    transition: transform 0.3s ease; /* Agrega transición suave para la transformación */
    
}

/* Estilos para el logo en la barra de navegación */
.BarraNav img {
    height: 50px; /* Ajusta la altura del logo */
    margin-right: 20px; /* Agrega espacio a la derecha del logo */
}

body {
    margin: 0;
}

/* Estilos para los elementos de la lista de navegación */
.BarraNav nav ul li a {
    font-family: 'Arial', sans-serif; /* Utiliza la fuente Arial o una fuente sans-serif genérica */
    color: #ffffff; /* Cambia el color del texto a blanco */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    transition: transform 0.3s ease; /* Agrega transición suave para la transformación */
    display: inline-block; /* Asegura que el elemento tenga un tamaño para aplicar transformaciones */
}

/* Efecto cuando el cursor está sobre el enlace */
.BarraNav nav ul li a:hover {
    transform: translateY(-3px); /* Mueve ligeramente hacia arriba */

}

/* Efecto cuando el enlace está activo (clickeado) */
.BarraNav nav ul li a:active {
    transform: translateY(3px); /* Mueve ligeramente hacia abajo */
}
